
/* About component */

#about{
    width:90vw;
    margin: auto;
    margin-top: 5vh;
    text-align: center;
  }
  
  #about #info{
    display: flex;
    height: 60vh;
    /* border: 1px solid black; */
  }
  
  #about #det{
    margin-top: 10vh;
    text-align: center;
  }
  
  #about #det h1{
    font-size: 2.5rem;
  }
  #about #det h1 span{
    font-size: 3rem;
    color: red;
  }
  
  #about #det h2{
    font-size: 2rem;
    padding: 0 5vw;
  }
  
  #about #info #image{
    border-radius: 100vh;
    background: url(images/profile.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x: center;
    flex: 0 0 40%;
    /* width:30%; */
  }
  
  #resume{
    width:30%;
    margin: 5vh 35%;
    border: none;
    border-radius: 10px;
    height:4vh;
    font-size: 1rem;
  }
  
  footer #contact{
    margin-top: 2vh;
    border-top: 1px solid black;
    width: 90%;
    margin:0 auto;
    display: flex;
    justify-content: flex-start;
  }
  
  footer #contact h3,h2{
    margin-right: 5vw;
    font-size: 1.5rem;
  }
  
  @media (max-width: 1000px) {
    #about #det h1 {
      font-size: 1.5rem;
    }
    #about #det h1 span {
      font-size: 2rem;
      color: red;
    }
    #about #det h2 {
      font-size: 1.5rem;
      padding: 0 5vw;
    }
    footer #contact h3,
    footer #contact h2 {
      margin-right: 5vw;
      font-size: 1rem;
    }
  
    @media (max-width: 768px) {
      #resume {
        margin: 2vh 0;
      }
      #about #det h1 {
        font-size: 1.5rem;
      }
      #about #det h1 span {
        font-size: 2rem;
        color: red;
      }
      #about #det h2 {
        font-size: 1.5rem;
        padding: 0 5vw;
      }
      #about {
        text-align: center;
        display: flex;
        flex-direction: column;
      }
      #info {
        display: flex;
        flex-direction: column;
        min-height: 90vh;
        overflow-y: auto;
      }
      #info #image {
        min-height: 50vh;
      }
      footer #contact {
        flex-direction: column;
      }
      footer #contact h3,
      footer #contact h2 {
        margin-top: 1vh;
      }
      @media (max-width: 375px) {
        #info {
          display: flex;
          flex-direction: column;
          min-height: 100vh;
        }
      }
      @media (orientation: landscape) {
        
      
      }
    }
  }
  


