/* Navigation component */
#navigation{
  background-color: black;
  /* color: white; */
  position: sticky;
  top: 0;
  z-index: 100;
}
#navigation ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  height:8vh;
}

#navigation li{
  margin-right:10vw;
  margin: auto;
  font-size: 1.2rem;
  font-weight: bolder;
}
#navigation li a{
  text-decoration: none;
  color:white;
}
#navigation li a:hover{
  text-decoration: none;
  color:#03fc03;
}
#navigation li .active{
  text-decoration: none;
  color:#03fc03;
}
@media (max-width: 768px) {
  #navigation ul{
    display: flex;
    justify-content: center ;
    text-align: center;
  }
  #navigation li{
    margin: auto;
    font-size: 1rem;
  }
}


/* About component  */

#about{
  width:90vw;
  margin: auto;
  margin-top: 5vh;
  text-align: center;
  color: white;
}

#about #info{
  display: flex;
  min-height: 60vh;
  /* border: 1px solid black; */
}

#about #det{
  margin-top: 10vh;
  text-align: center;
}

#about #det h1{
  font-size: 2.5rem;
}
#about #det h1 span{
  font-size: 3rem;
  color: #03fc03;
}

#about #det h2{
  font-size: 2rem;
  padding: 0 5vw;
}

#about #info #image{
  border-radius: 100vh;
  background: url(images/profile.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position-x: center;
  flex: 0 0 40%;
  /* width:30%; */
}

#resume{
  margin: 4vh 0;
  width: auto;
  padding: 1vh 1vw;
  border: none;
  background: none;
  color:#03fc03;
  height:4vh;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bolder;
  border: 1px solid #03fc03;
  border-radius: 1vw;
}

#resume:hover{
  color: white;
}

footer #contact{
  margin-top: 2.5vh;
  border-top: 1px solid white;
  border-bottom: none;
  width: 90%;
  margin:0 auto;
  display: flex;
  justify-content: flex-start;
}

footer #contact h3,h2{
  margin-right: 5vw;
  font-size: 1.5rem;
}

footer #contact h3 span{
  color: #03fc03;
}

@media (max-width: 1000px) {
  #about #det h1 {
    font-size: 1.5rem;
  }
  #about #det h1 span {
    font-size: 2rem;
    color: #03fc03;
  }
  #about #det h2 {
    font-size: 1.5rem;
    padding: 0 5vw;
  }
  footer #contact h3,
  footer #contact h2 {
    margin-right: 5vw;
    font-size: 1rem;
  }

  @media (max-width: 768px) {
    #resume {
      margin: 2vh auto;
    }
    #about #det h1 {
      font-size: 1.5rem;
    }
    #about #det h1 span {
      font-size: 2rem;
      color: #03fc03;
    }
    #about #det h2 {
      font-size: 1.5rem;
      padding: 0 5vw;
    }
    #about {
      text-align: center;
      display: flex;
      flex-direction: column;
    }
    #info {
      display: flex;
      flex-direction: column;
    }
    #info #image {
      min-height: 50vh;
    }
    footer #contact {
      flex-direction: column;
    }
    footer #contact h3,
    footer #contact h2 {
      margin-top: 1vh;
    }
    @media (max-width: 375px) {
      #info {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
      }
    }
  }
}

/* Skills page  */

#details{
  width: 90vw;
  margin: auto;
  color: white;
}
.det h1{
  font-size: 2.5rem;
}
.edu{
  margin-bottom: 2vh;
  border: 1px solid white;
  border-left: 10px solid #03fc03;

}
.edu ul{
  list-style-type: none;
}
.edu ul li{
  font-size: 1.3rem;
}
.edu .deg{
  font-weight: bolder;
  color: #03fc03;
  font-size: 1.5rem;
}

#skills{
  margin-top: 5vh;
  font-family: Arial, Helvetica, sans-serif;
}

#certificates .edu .cert_img img{
  width: 30vw;
  height: auto;
  margin:5vh 10vw;
}

#certificates .edu {
  display: flex;
}

#certificates .edu .cert_det{
  margin-top: auto;
}

@media (max-width: 1000px) {
#certificates .edu{
  flex-direction: column;
  text-align: center;
}
#certificates .edu .cert_img img{
  width:80vw;
  height: auto;
  margin: 5vh auto;
}
}

#projects{
  width: 90vw;
  margin: auto;
  color: white;
}

.proj{
  margin-bottom: 2vh;
  border: 1px solid white;
  border-left: 10px solid #03fc03;
  padding: 2vh 5vw;
  font-size: 1.3rem;
}

.proj .p_tit{
  font-weight: bolder;
  color: #03fc03;
  font-size: 2rem;
}

.githublink{
  text-decoration: none;
  background-color: #03fc03;
  border-radius: 10px;
  color: black;
  padding: 1vh 1vw;
  display: block;
  text-align: center;
  margin-top: 1vh;
}
.projectlink{
  text-decoration: none;
  background-color: white;
  border-radius: 10px;
  color: black;
  padding: 1vh 1vw;
  display: block;
  text-align: center;
  margin-top: 1vh;
}
#projects .readmore{
  background: none;
  color: #03fc03;
  border: none;
  font-size: 1rem;
}